html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 , .bgimg-4{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("../Imgs/hohoho.png");
    min-height: 80%;
  }


  .bgimg-4 {
    z-index: -5;

  }
  /* This is a comment */

  nav {
    width: 100%;
    height: 70px;
    top:0px;
    position: sticky;

}

nav > button {
  margin: 10px 20px;
}

nav ul li:hover {
    
   cursor: pointer;
   color: gray;
    
}
li {
    display: inline-block;
    line-height: 80px;
    margin: 0 0 0 45px;
    text-align: center;
    font-size: 185%;
    padding: 5px;
}

ul {
  margin-bottom: 5%;
}

.dropbtn {
  background-color: #777777;
  color: white;
  padding: 16px;
  width: 200px;
  font-size: 16px;
  border: none;
  display: inline-block;
  margin: 10px 20px;
    padding: 16px !important;
}
.dropbtn:hover{
   background-color: #593846;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 2px 4px 4px 0px rgba(255, 255, 255, 0.5);
  z-index: 1;
  left: 8%;
}

.dropdown-content a {
  color: #531D36;
  text-decoration: none;
  display: block;
  font-size: 15px;
  line-height: 30px;
  padding-left: 10px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #593846;}

/* This is a comment */


  
  .bgimg-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
  }
  
  .bgimg-3 {
    min-height: 400px;
  }
  
  #paragraphDiv {
    background-image: url('../testImgs/1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  
  #paragraphDiv2 {
    background-image: url('../Imgs/health2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 400px;
    box-shadow: inset 0 0 10px gray;
  }

  #hash {
    background-image: url(../testImgs/2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
 
.level2Items {
  box-shadow:  0 -5px 10px 0px rgb(71, 71, 71);
  box-shadow:  0 5px 10px 0px rgb(71, 71, 71);
}

#resturantBackground{
  background-image: url('../Imgs/resturantbg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 400px;
  box-shadow: inset 0 0 10px gray
}


.card__title{
  font-weight: bolder;
}
.card__text {
  font-weight: bold;
}

#recYal{
  
    background-image: url(../testImgs/2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }

   #recipeBackground{
    background-image: url('../Imgs/recipebg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 400px;
    box-shadow: inset 0 0 10px gray
  }

  #endYal{
  
    background-image: url(../testImgs/4.jpg);
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }
